<div>
  <nav class="navbar navbar-light">
    <div class="logo-div col-1">
      <img
        class="logo"
        src="../../assets/calories-calculator.png"
        alt="alternative-text"
      />
    </div>
    <div class="nav-btns col-9">
      <button
        [routerLink]="['/diary']"
        class="btn btn-outline-primary text-primary"
      >
        Diary
      </button>
      <button class="btn btn-outline-primary text-primary">About us</button>
      <button class="btn btn-outline-primary text-primary">Offers</button>
    </div>
    <div *ngIf="!isLoggedIn" class="nav-auth-btns col-2">
      <button
        class="btn btn-outline-primary text-primary auth-btn"
        [routerLink]="['/login']"
      >
        Login
      </button>
      <button
        class="btn btn-outline-primary text-primary auth-btn"
        [routerLink]="['/register']"
      >
        Sign up
      </button>
    </div>
    <div *ngIf="isLoggedIn" class="nav-auth-btns col-2">
      <button class="btn btn-outline-primary text-primary auth-btn">
        User
      </button>
      <button
        class="btn btn-outline-primary text-primary auth-btn"
        (click)="logOut()"
      >
        Log Out
      </button>
    </div>
  </nav>
</div>
