<div>
  <nav class="navbar navbar-light">
    <div class="logo-div col-1">
      <img
        class="logo"
        src="../../assets/calories-calculator.png"
        alt="alternative-text"
      />
    </div>
    <div class="nav-btns col-9">
      <button class="btn btn-outline-primary text-primary">Button</button>
      <button class="btn btn-outline-primary text-primary">Button</button>
      <button class="btn btn-outline-primary text-primary">Button</button>
      <button class="btn btn-outline-primary text-primary">Button</button>
    </div>
    <div class="nav-auth-btns col-2">
      <button class="btn btn-outline-primary text-primary">Login</button>
      <button class="btn btn-outline-primary text-primary">Sign Up</button>
    </div>
  </nav>
</div>
