<div class="food-display">
  <h2 class="food-name">{{ foodDisplay.foodName }}</h2>
  <div class="display-row">
    <div class="display-label">Category:</div>
    <div class="display-value">{{ foodDisplay.category }}</div>
  </div>
  <div class="display-row">
    <div class="display-label">Grams:</div>
    <div class="display-value">{{ foodDisplay.grams }}</div>
  </div>
  <div class="display-row">
    <div class="display-label">Calories:</div>
    <div class="display-value">{{ foodDisplay.calories }}</div>
  </div>
  <div class="display-row">
    <div class="display-label">Protein:</div>
    <div class="display-value">{{ foodDisplay.protein }}g</div>
  </div>
  <div class="display-row">
    <div class="display-label">Fat:</div>
    <div class="display-value">{{ foodDisplay.fat }}g</div>
  </div>
  <div class="display-row">
    <div class="display-label">Saturated Fat:</div>
    <div class="display-value">{{ foodDisplay.satFat }}g</div>
  </div>
  <div class="display-row">
    <div class="display-label">Fiber:</div>
    <div class="display-value">{{ foodDisplay.fiber }}g</div>
  </div>
  <div class="display-row">
    <div class="display-label">Carbs:</div>
    <div class="display-value">{{ foodDisplay.carbs }}g</div>
  </div>
</div>
