.search-bar {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #8cb39c, #59d973);
  border-radius: 10em;
  padding: 5px;
  position: relative; /* Add relative positioning to contain the suggestions */
}

input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 10em;
  transition: background-color 0.3s;
  outline: none;
}

/* Rest of the CSS remains the same */

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  background: linear-gradient(to right, #97b0a2, #6bd981);
  border-radius: 10em; /* Match the search bar border radius */
  z-index: 1;
  position: absolute; /* Position the suggestions absolutely */
  top: 100%; /* Position below the search bar */
  left: 0;
}

.suggestions li {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}
